/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
.submit-button{

}
.nav-tabs a{
    cursor: pointer;
}
.height-2{
    height:200px;
}
.height-1{
    height:100px;
}
.height-3{
    height:300px;
}
.error{
    border: 1px solid red;
}
.none{
    display: none;
}
.file-div .btn{
    color: #fff;
    background-color: #757575;
    border-color: none;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.form-block > div{
    border: 1px solid rgba(214, 166, 59, 0.38);
    margin: 5px;
    padding: 5px;
    background: #ECEEF0;
}
.form-block input, .form-block select, .form-block textarea{
    margin-bottom: 10px !important;
}
.form-block > div > .form-group{
    border-left: 1px solid saddlebrown;
}
.form-save > div {
    /*margin:5px;*/
}
.form-save textarea{
    width: 100%;
    height:100px;
}
.form-group  input{
    margin-bottom: 12px;
}
.form-table {
    border: 1px solid #D4CDCD;
    border-radius: 1px !important;
    background: white;
    margin-bottom: 10px !important;
}
.form-table select{
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-table .select2, .form-table input, .form-table select{
    border: 1px solid #D4CDCD;
    margin-bottom: 20px !important;
    width: 80%;
    height: 2rem;
    margin-top: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}

.form-table textarea {
    width: 80%;
}
.div-title{
    color: rgb(0, 35, 87);
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
    padding: 3px 10px !important;
    border-bottom: 1px solid #c2c2c2;
    text-transform: capitalize;
}
.form-title{
    font-size: 22px;
    margin: 0;
    padding: 5px 10px !important;
    border-bottom: 1px solid #c2c2c2;
    text-transform: uppercase;
}
.form-comment{
    /* font-style: italic;*/
    font-size: 14px;
    margin: 0;
    /*color: #6e6e6e;*/
}
.form-table > .row{
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #c2c2c2 !important;
}
.form-table .row > div {
    padding: 10px 0px;
}
.form-table > .row > div:nth-child(2){
    padding: 10px;
    border-left: 1px solid #c2c2c2;
    background: #f5f5f5;
}

.form-table .form-container:nth-child(1) {
    padding-top: 0px;
}

.form-table .form-container:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}


.form-table .form-container {
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 10px;
}

.form-table  .row > div:nth-child(1){
    padding: 10px 10px;
}

.separated{
    padding-top: 10px;
}
.separated-line{
    border-bottom: 2px solid #b75908;
}
.setting-panel{
    background: #757575;
    padding: 10px;
    margin-bottom: 10px;
}
.setting-panel a.settings{
    margin-left: 5px;
    color: #8BA015;
    background-color: #ECF3C8;
    border-color: #B3CA34;
}
.setting-panel .title{
    background: rgba(240, 248, 255, 0);
    color: #F5F5F5;
    font-size: 18px;
}
.navbar{
    min-height: 30px;
}
/* Global Styles */
.navbar-header {
    display: initial;
    width: 225px;
}
.side-nav > li .collapsed-in{
    background-color: #888888 !important;
    color: #ffffcc !important;

}
.side-nav{
    border-right: 1px solid #333 !important;
}
.side-nav{
    background-color: rgba(223, 240, 144, 0.45);
}
.side-nav a {
    color: #000  !important;
}
.side-nav .active a{
    color: #aaaaaa;
    background: #fff !important;
}
.side-nav a:hover{
    color: #fff !important;
    background: #526F3E !important;
}
.navbar-fixed-top {
    background: #B3CA34;
}
.navbar-brand{
    color: #fff !important;
}
.top-nav>li>a{
    color: #fff ;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #313131;
    background-color: rgba(223, 240, 144, 0.45);
}
body {
    margin-top: 100px;
    background-color: #f5f5f5;
}

@media(min-width:768px) {
    body {
        margin-top: 30px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}
#page-wrapper > div > .row{
     margin-right: -15px;
     margin-left: -15px;
}
.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        /*padding: 10px;*/
    }
}
@media(max-width:768px) {
    #page-wrapper {
        margin-top: -22px !important;
        /*padding: 10px;*/
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a , .navbar-brand  {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    /*line-height: 10px;*/
}




.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 30px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
}

.side-nav>li>ul>li>a:hover {
    font-weight: 500 !important;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}